<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danbro.gmall.manage.service.mapper.PmsBaseAttrInfoMapper">
    <resultMap id="pmsBaseAttrInfoMap" type="com.danbro.gmall.api.bean.PmsBaseAttrInfo" autoMapping="true">
        <result column="ai_id" property="id"></result>
        <result column="ai_attr_name" property="attrName"></result>
        <collection property="attrValueList" ofType="com.danbro.gmall.api.bean.PmsBaseAttrValue" autoMapping="true">
            <result column="av_id" property="id"></result>
            <result column="av_value_name" property="valueName"></result>
        </collection>
    </resultMap>

    <select id="getAttrValueByValueId" resultMap="pmsBaseAttrInfoMap">
        SELECT
            ai.id AS ai_id,
            ai.attr_name AS ai_attr_name,
            av.value_name AS av_value_name,
            av.id AS av_id
        FROM
            pms_base_attr_info ai,
            pms_base_attr_value av
        WHERE
            av.id IN (${valueIdStr})
        AND
            ai.id = av.attr_id
    </select>
</mapper>